.header {
  background: linear-gradient(90deg, rgb(0, 157, 223) 0%, rgb(47, 79, 152) 50%);

  .logo {
    height: 30px;
    pointer-events: none;
    fill: #fff;
    padding: 10px;
  }
}

.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.input {
  
}
